In [2]:
# 테스트 libary
import pandas as pd
import numpy as np
from datetime import datetime
from pandas_datareader import data

In [12]:
# 삼성전자 주식정보
sdf = data.get_data_yahoo('005930.KS', '2020-01-01')
sdf.head(2)

               High      Low     Open    Close      Volume     Adj Close
Date
2020-01-02  56000.0  55000.0  55500.0  55200.0  12993228.0  51824.097656
2020-01-03  56600.0  54900.0  56000.0  55500.0  15422255.0  52105.750000

In [29]:
# 시계열 데이터: 인덱스가 datetime 인 경우
display(sdf.loc['2020'].head(1))            # 년
display(sdf.loc['2020-02'].head(1))         # 년월
display(sdf.loc["2020-01-01":"2020-01-03"]) # 년월일 기간범위
display(sdf[sdf.index >= '2021'].head(1))   # 연산자를 이용한 기간범위

               High      Low     Open    Close      Volume     Adj Close
Date
2020-01-02  56000.0  55000.0  55500.0  55200.0  12993228.0  51824.097656

               High      Low     Open    Close      Volume    Adj Close
Date
2020-02-03  57400.0  55200.0  55500.0  57200.0  23995260.0  53701.78125

               High      Low     Open    Close      Volume     Adj Close
Date
2020-01-02  56000.0  55000.0  55500.0  55200.0  12993228.0  51824.097656
2020-01-03  56600.0  54900.0  56000.0  55500.0  15422255.0  52105.750000

               High      Low     Open    Close      Volume     Adj Close
Date
2021-01-04  84400.0  80200.0  81000.0  83000.0  38655276.0  81511.234375

In [34]:
sdf['year'] = sdf.index.year # 년도 컬럼 추가
display(sdf.head(1))
sdf['month'] = sdf.index.month # 월 컬럼 추가
display(sdf.head(1))

               High      Low     Open    Close      Volume     Adj Close  year
Date
2020-01-02  56000.0  55000.0  55500.0  55200.0  12993228.0  51824.097656  2020

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2020-01-02,56000.0,55000.0,55500.0,55200.0,12993228.0,51824.097656,2020,1

In [36]:
g = sdf.groupby('year')
g.mean() # 년별 평균값

,High,Low,Open,Close,Volume,Adj Close,month
year,,,,,,,
2020,57828.225806,56498.588710,57144.758065,57167.741935,2.174733e+07,54283.890373,6.516129
2021,79912.500000,78567.741935,79257.661290,79155.645161,1.878421e+07,78258.270256,6.556452
2022,76392.307692,75246.153846,76065.384615,75750.000000,1.262982e+07,75750.000000,1.269231

In [40]:
sdf.groupby( sdf.index.year ).mean().filter(['High','Low','Open','Close','Volume','Adj Close']) # 년별 평균값

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020,57828.225806,56498.588710,57144.758065,57167.741935,2.174733e+07,54283.890373
2021,79912.500000,78567.741935,79257.661290,79155.645161,1.878421e+07,78258.270256
2022,76392.307692,75246.153846,76065.384615,75750.000000,1.262982e+07,75750.000000

In [51]:
sdf.groupby( [sdf.index.year, sdf.index.month] ).mean() # 년/월 평균값

                   High           Low          Open         Close  \
Date Date
2020 1     59475.000000  58195.000000  58870.000000  58815.000000
     2     59675.000000  58330.000000  58890.000000  59085.000000
     3     51440.909091  49325.000000  50381.818182  50331.818182
     4     49567.500000  48445.000000  49127.500000  49045.000000
     5     49476.315789  48626.315789  49071.052632  49100.000000
     6     53768.181818  52218.181818  52950.000000  52986.363636
     7     55356.521739  54256.521739  54930.434783  54726.086957
     8     57865.000000  56600.000000  57360.000000  56980.000000
     9     58761.904762  57709.523810  58176.190476  58176.190476
     10    60242.105263  59263.157895  59836.842105  59736.842105
     11    64019.047619  62476.190476  63090.476190  63419.047619
     12    74233.333333  72600.000000  73066.666667  73619.047619
2021 1     88410.000000  85190.000000  86365.000000  86565.000000
     2     84177.777778  82400.000000  83272.222222  83127.777778
     3     82763.636364  81609.090909  82250.000000  82072.727273
     4     84150.000000  83095.454545  83786.363636  83586.363636
     5     81105.263158  80015.789474  80547.368421  80521.052632
     6     81590.909091  80740.909091  81195.454545  81104.545455
     7     79963.636364  79250.000000  79645.454545  79577.272727
     8     77914.285714  76428.571429  77204.761905  77023.809524
     9     76884.210526  75800.000000  76526.315789  76305.263158
     10    71373.684211  70157.894737  70852.631579  70563.157895
     11    72386.363636  71054.545455  71863.636364  71536.363636
     12    78272.727273  76945.454545  77522.727273  77809.090909
2022 1     77147.368421  75894.736842  76757.894737  76468.421053
     2     74342.857143  73485.714286  74185.714286  73800.000000

                 Volume     Adj Close    year  month
Date Date
2020 1     1.599458e+07  55218.012891  2020.0    1.0
     2     1.800036e+07  55471.501758  2020.0    2.0
     3     3.537865e+07  47283.764027  2020.0    3.0
     4     2.120510e+07  46385.489258  2020.0    4.0
     5     1.969814e+07  46437.505962  2020.0    5.0
     6     2.351997e+07  50143.367365  2020.0    6.0
     7     1.901368e+07  52104.574049  2020.0    7.0
     8     2.008490e+07  54250.520312  2020.0    8.0
     9     2.030011e+07  55421.874070  2020.0    9.0
     10    1.723988e+07  57225.176604  2020.0   10.0
     11    2.363959e+07  60752.561756  2020.0   11.0
     12    2.523804e+07  70706.576823  2020.0   12.0
2021 1     3.827356e+07  85012.292188  2021.0    1.0
     2     2.405296e+07  81636.724392  2021.0    2.0
     3     1.761874e+07  80633.049716  2021.0    3.0
     4     1.695174e+07  82451.855114  2021.0    4.0
     5     1.853742e+07  79428.148849  2021.0    5.0
     6     1.514088e+07  80035.819602  2021.0    6.0
     7     1.254028e+07  78844.711648  2021.0    7.0
     8     2.380298e+07  76314.755208  2021.0    8.0
     9     1.480175e+07  75639.561678  2021.0    9.0
     10    1.579967e+07  70245.932977  2021.0   10.0
     11    1.423263e+07  71214.763494  2021.0   11.0
     12    1.563206e+07  77491.393821  2021.0   12.0
2022 1     1.335307e+07  76468.421053  2022.0    1.0
     2     1.066672e+07  73800.000000  2022.0    2.0

In [53]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.resample.html
sdf.resample(rule='A').mean() # 년말 집계

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2020-12-31,57828.225806,56498.588710,57144.758065,57167.741935,2.174733e+07,54283.890373,2020.0,6.516129
2021-12-31,79912.500000,78567.741935,79257.661290,79155.645161,1.878421e+07,78258.270256,2021.0,6.556452
2022-12-31,76392.307692,75246.153846,76065.384615,75750.000000,1.262982e+07,75750.000000,2022.0,1.269231

In [54]:
sdf.resample(rule='W').mean() # 주간별 집계

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2020-01-05,56300.0,54950.0,55750.0,55350.0,14207741.50,51964.923828,2020.0,1.0
2020-01-12,57540.0,56360.0,56800.0,57240.0,16778529.80,53739.335156,2020.0,1.0
2020-01-19,60660.0,59580.0,60100.0,60200.0,14594759.40,56518.310156,2020.0,1.0
2020-01-26,62400.0,61000.0,61575.0,61725.0,13481917.00,57950.043945,2020.0,1.0
2020-02-02,59075.0,57575.0,58775.0,57875.0,20170509.75,54335.501953,2020.0,1.0
...,...,...,...,...,...,...,...,...
2022-01-16,78820.0,77740.0,78600.0,78200.0,11631034.60,78200.000000,2022.0,1.0
2022-01-23,77000.0,76040.0,76740.0,76580.0,10891851.20,76580.000000,2022.0,1.0
2022-01-30,74500.0,72880.0,73860.0,73540.0,15020012.40,73540.000000,2022.0,1.0
2022-02-06,74750.0,73350.0,74600.0,73650.0,15237377.50,73650.000000,2022.0,2.0
2022-02-13,74180.0,73540.0,74020.0,73860.0,8838455.60,73860.000000,2022.0,2.0

In [55]:
sdf.resample(rule='Q').mean() # 분기별 집계

,High,Low,Open,Close,Volume,Adj Close,year,month
Date,,,,,,,,
2020-03-31,56688.709677,55091.129032,55864.516129,55891.935484,2.351983e+07,52484.404864,2020.0,2.032258
2020-06-30,51054.098361,49862.295082,50488.524590,50483.606557,2.157059e+07,47756.991483,2020.0,5.032787
2020-09-30,57257.812500,56121.875000,56754.687500,56562.500000,1.977054e+07,53863.671326,2020.0,7.968750
2020-12-31,66359.016393,64960.655738,65511.475410,65783.606557,2.219652e+07,63080.660092,2020.0,11.032787
2021-03-31,85070.000000,83040.000000,83928.333333,83886.666667,2.643395e+07,82393.899609,2021.0,2.033333
2021-06-30,82338.095238,81344.444444,81904.761905,81795.238095,1.679760e+07,80696.248760,2021.0,5.000000
2021-09-30,78325.806452,77237.096774,77862.903226,77709.677419,1.704810e+07,77005.567540,2021.0,7.951613
2021-12-31,74136.507937,72841.269841,73534.920635,73433.333333,1.519392e+07,73114.415675,2021.0,11.047619
2022-03-31,76392.307692,75246.153846,76065.384615,75750.000000,1.262982e+07,75750.000000,2022.0,1.269231